<!DOCTYPE html>
<html>
<head>
    <title>Pilly</title>
</head>

<body>
    <p>¡Bienvenido! estamos felices de tenerte por aquí. Para activar tu cuenta has <a title="Activación de Cuenta" href="{{ emailConfirmationURL }}">clic aquí</a>.</p>
</body>
</html>
