<!DOCTYPE html>
<html>
<head>
    <title>Pilly</title>
</head>

<body>
    <p>Para confirmar tu nuevo correo electrónico has <a title="Confirmación de Correo" href="{{ emailConfirmationURL }}">clic aquí</a>.</p>
</body>
</html>
